{{ define "main" }}

<section class="site-project-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-project-single">
          <h1>
            {{ .Title }}
          </h1>
          <div class="site-project-single-description">
            {{ .Content }}
            <a class="btn btn-primary btn-sm-rounded" target="_blank" href="{{ .Params.BtnUrl }}">
              See Live
            </a>
          </div>
          <div class="site-project-single-image">
            {{ if .Params.video }}
            <iframe src="https://www.youtube.com/embed/xFPO4tuctlA"></iframe>
            {{ else }}
              {{ range .Params.project_images }}
              <img src="{{ . | absURL }}" alt="project image">
              {{ end }}
            {{ end }}
          </div>
          <div class="site-project-single-action">
            {{ if .NextInSection }}
            <a class="next" href="{{.NextInSection.Permalink}}">
              <span class="link-area">
                <span data-text="Next Project">
                  Next Project
                </span>
              </span>
              <img class="next-button" src="{{ "images/to-top.svg" | absURL }}" alt="next project">
            </a>
            {{ end }}
            {{ if .PrevInSection }}
            <a class="prev" href="{{.PrevInSection.Permalink}}">
              <img class="prev-button" src="{{ "images/to-top.svg" | absURL }}" alt="previous project">
              <span class="link-area">
                <span data-text="Previous Project">
                  Previous Project
                </span>
              </span>
            </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "newsletter.html" . }}

{{ partial "call-to-action.html" . }}

{{ end }}